.privacy-content {
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
}
.privacy-text {
    margin-bottom: 50px;
    font-size: 14px;
    line-height: 2;
}
.privacy-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}
.privacy-text01 {
    display: flex;
}
@media (max-width: 1200px) {
    .privacy-content {
        padding-right: 40px;
        padding-left: 40px;
    }
}
@media (max-width: 900px) {
    .privacy-content {
        padding-right: 30px;
        padding-left: 30px;
    }
}
@media (max-width: 750px) {
    .privacy-content {
        padding-right: 20px;
        padding-left: 20px;
    }
}
@media (max-width: 550px) {
    .privacy-content {
        padding-right: 3vw;
        padding-left: 3vw;
    }
}